/build/tb_external_libraries
/build/externals
/build/windows
/build/macos
/build/macosx
/build/linux
/build/web
/build/auto_build_report.txt
/build/meta/.resources
/distribute
/source/ice
/source/game_kit
/source/racing_kit
/source/turtle_brains
/run/debug_log.txt
/run/test_results.txt
/run/wheels.data
/run/*_crash.log
/run/developer_key
/run/ludumdare56.exe
/run/ludumdare56_*
/run/player_access_key
/run/twitch_user_key
/run/patreon_user_key
/LudumDare56.app
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5
*.DS_Store
abs_summary_report.txt
auto_build_report.txt
live_build_log.txt
.vscode
/server/ansible/inventory
/server/ansible/gameserver.retry
/distribution
